@import "tailwindcss";
body {
    margin: 0px;
    padding: 0;
    /* font-family: "Poppins", sans-serif; */
    font-Family: 'Playfair Display, serif';
}

h1,
h2 {
    /* font-family: "Roboto", sans-serif;
       */
    font-Family: 'Playfair Display, serif';
}

@layer utilities {
    .gradient {
        background: linear-gradient(-45deg, #302b63, #00bf8f, #1cd8d2);
    }
}